[submodule "cicero_compiler"]
	path = cicero_compiler
	url = https://github.com/necst/cicero_compiler
[submodule "projects/cicero-cyclone/cicero-port-to-intel"]
	path = projects/cicero-cyclone/cicero-port-to-intel
	url = https://github.com/leonardo-panseri/cicero-port-to-intel
